*{margin:0; padding: 0;}

.slider{width: 100%;
		height: 500px;
		margin: 0px;
		padding: 0px !important; 
}

.logo{ width: 150px;

}

.headerup{
	width: 100%;
	height: 50px;
	background-color: #2e2e2e;
	margin-top: 50px;
	padding-top: 8px;
}

.quicklinks{

}
.quicklinks{
border-right:1px solid #000;
min-height:525px;
}

.filter-report{
	width: 100%;
	height: 50px;
	padding: 0px;
	padding-top: 8px;
	background-color: #d5ebff;
}


#customer {
	width: 100%;
    padding: 50px;
}

#purchase {
	width: 100%;
    padding: 50px;
}

#sales {
	width: 100%;
    padding: 50px;
   
}

#payments {
	width: 100%;
    padding: 50px;
    
}

form #search { position: relative;
	float: right;
	margin-right: 0px;

}

form:input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url(images/search.png);
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

form:input[type=text]:focus {
    width: 100%;
}


/*------------------------------login ---------------------------------------------------------------*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;

}

#text-shadow{
color: rgb(243,43,88);
flood-color: #047A8F;
font-size: 25px;
background-color: rgb(186, 186, 186);
text-shadow: rgb(224, 224, 224) 1px 1px 0px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/*------------------------------login end ---------------------------------------------------------------*/

.navbar-nav > li .btn-link{
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-nav > li .btn-link:hover{
    text-decoration:none;
}
.navbar-brand {
    
    padding: 7px 15px;
    
}
.navbar-brand > img{
   width:150px;
}
.navbar{
margin-bottom:0px !important;
}
.dropdown-menu li .btn{
width:98%;
margin:1% 1%;
}